.filters {
  display: flex;
  width: calc(100% - 150px);
  justify-content: flex-end;
  align-items: center;
  float: right;
  padding-bottom: 30px;

  app-room-selection,
  app-site-selection {
    width: 50%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 800px) {
  .filters {
    width: 100%;
    justify-content: center;
    float: initial;
    height: 80px;
    top: 67px;
    position: relative;

    app-room-selection,
    app-site-selection {
      width: calc(50% - 10px) !important;
    }
    app-site-selection {
      margin-left: 0;
    }
  }

}
