.controls-container {
  background-color: var(--background);
  padding: var(--app-content-padding) var(--app-content-padding) calc(var(--app-content-padding) / 2);

  .row {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: calc(var(--app-content-padding) / 2);

    &:first-of-type {
      justify-content: space-between;

      app-room-selection,
      app-site-selection {
        width: calc(50% - 10px);
      }
    }

    &:nth-of-type(2) {
      justify-content: space-between;
    }

    &:last-of-type {
      justify-content: center;

      &.small-screen {
        display: none;

      }
    }
  }
}

.schedule {
  padding: 0 var(--app-content-padding) calc(var(--header-height) / 2);
}

.count {
  display: none;
  width: 100%;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 5px 0;
}

.month {
  margin: 0;
  width: auto;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;

  button {
    width: calc(100% / 3);

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:nth-child(2) {
      border-radius: 0;
    }
  }
}

.month-event {
  margin: 5px 5px 0;
  line-height: initial;
  color: var(--text);

  span {
    font-weight: bold;
  }

  &:first-of-type {
    margin-top: 0;
  }

  &:nth-of-type(2) {
    margin-bottom: 5px;
  }
}

.cal-open-day-events {
  .event {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.cal-event {
  white-space: normal;

  .event {
    color: var(--text);
    padding: 5px 0;
    line-height: normal;
  }
}

.cal-open-day-events {
  .date {
    font-weight: bold;
    padding-bottom: 5px;
  }
}

.cal-cell-top {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--accent-lighter-color);
  }
}

@media screen and (max-width: 1000px) {
  .month-event {
    display: none;
  }

  .cal-day-badge {
    display: none;
  }

  .count {
    display: block;
  }

  .row {
    &:nth-of-type(2) {
      .large-screen {
        display: none;
      }

      .buttons-wrapper {
        width: 50%;

        &:first-of-type {
          margin-right: 10px;
        }

        &:last-of-type {
          margin-left: 10px;
        }
      }
    }

    &:last-of-type {
      &.small-screen {
        display: initial !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .row {
    &:first-of-type {
      flex-direction: column;

      app-room-selection,
      app-site-selection {
        width: 100% !important;
      }
    }

    &:nth-of-type(2) {
      flex-wrap: wrap-reverse;
      height: 110px;

      .buttons-wrapper {
        margin: 0 !important;
        width: 100%;
      }
    }
  }

  .schedule {
    font-size: 12px;
    padding: 0 calc(var(--app-content-padding) / 2) calc(var(--header-height) / 2);
  }
}
