<div class="controls-container">

  <app-schedule-instructions></app-schedule-instructions>

  <div class="row">
    <app-site-selection (selectedSiteChange)="selectedSiteChange($event)"></app-site-selection>
    <app-room-selection [idSite]="selectedSite.id_site"
                        (selectedRoomChange)="selectedRoomChange($event)"></app-room-selection>
  </div>

  <div class="row">
    <div class="buttons-wrapper">
      <button
        mat-stroked-button
        color="accent"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay($event)"
      >
        Aujourd'hui
      </button>
      <button
        mat-stroked-button
        color="accent"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay($event)"
      >
        <mat-icon fontSet="material-icons" [title]="'Précédent'">
          keyboard_arrow_left
        </mat-icon>
      </button>
      <button
        mat-stroked-button
        color="accent"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay($event)"
      >
        <mat-icon fontSet="material-icons" [title]="'Suivant'">
          keyboard_arrow_right
        </mat-icon>
      </button>
    </div>
    <h3 class="month large-screen">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
    <div class="buttons-wrapper">
      <button
        mat-stroked-button
        color="accent"
        [ngClass]="{'selected-view': view === 'month'}"
        (click)="setView(calendarView.Month)"
        [class.active]="view === calendarView.Month"
      >
        Mois
      </button>
      <button
        mat-stroked-button
        color="accent"
        [ngClass]="{'selected-view': view === 'week'}"
        (click)="setView(calendarView.Week)"
        [class.active]="view === calendarView.Week"
      >
        Semaine
      </button>
      <button
        mat-stroked-button
        color="accent"
        [ngClass]="{'selected-view': view === 'day'}"
        (click)="setView(calendarView.Day)"
        [class.active]="view === calendarView.Day"
      >
        Jour
      </button>
    </div>
  </div>

  <div class="row small-screen">
    <h3 class="month">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  </div>
</div>

<div [ngSwitch]="view" class="schedule">
  <mwl-calendar-month-view
    *ngSwitchCase="calendarView.Month"
    [viewDate]="viewDate"
    [events]="calendarData"
    [refresh]="refresh"
    [headerTemplate]=""
    [activeDayIsOpen]="activeDayIsOpen"
    [cellTemplate]="customMonthCellTemplate"
    [openDayEventsTemplate]="customDayEventsTemplate"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="openReservationFormDialog($event.event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="calendarView.Week"
    [viewDate]="viewDate"
    [events]="calendarData"
    [dayStartHour]="7"
    [dayEndHour]="21"
    [refresh]="refresh"
    [eventTemplate]="customWeekEvent"
    (eventClicked)="openReservationFormDialog($event.event)"
    (hourSegmentClicked)="openReservationFormDialogWithTime($event.date)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="calendarView.Day"
    [viewDate]="viewDate"
    [events]="calendarData"
    [refresh]="refresh"
    [dayStartHour]="7"
    draggable="false"
    [eventTemplate]="customWeekEvent"
    (eventClicked)="openReservationFormDialog($event.event)"
    (hourSegmentClicked)="openReservationFormDialogWithTime($event.date)"
  >
  </mwl-calendar-day-view>
</div>

<ng-template #customMonthCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" (click)="openReservationFormDialogWithTime(day.date)">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">
      <span>{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </span>
  </div>
  <div class="count" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</div>
  <ng-container *ngFor="let event of day.events| slice:0:3; let i=index">
    <small class="month-event">
      <span>{{event.start | date: 'h:mm a'}}</span> : {{ event.title }}
    </small>
  </ng-container>
  <small class="month-event" *ngIf="day.events.length > 3">
    <span>...</span>
  </small>
</ng-template>

<ng-template #customDayEventsTemplate let-events="events" let-eventClicked="eventClicked" let-isOpen="isOpen">
  <div class="cal-open-day-events" [@collapse] *ngIf="isOpen">
    <div class="date">{{events[0].start | date: 'longDate' }}</div>
    <div *ngFor="let event of events">
      <div class="event" (click)="openReservationFormDialog(event)">{{event.start | date: 'h:mm a'}}
        - {{event.end | date: 'h:mm a'}}: {{ event.title }}</div>
    </div>
  </div>
</ng-template>

<ng-template #customWeekEvent let-weekEvent="weekEvent">
  <div class="cal-event" [style.backgroundColor]="weekEvent.event.color?.secondary"
       [style.borderColor]="weekEvent.event.color?.primary">
    <div class="event" (click)="openReservationFormDialog(weekEvent.event)">{{weekEvent.event.start | date: 'h:mm a'}}
      - {{weekEvent.event.end | date: 'h:mm a'}}: {{ weekEvent.event.title }}</div>
  </div>
</ng-template>
