<app-spinner *ngIf="refreshing"></app-spinner>

<mat-form-field appearance="outline" *ngIf="!refreshing">
  <mat-chip-list #chipList>
    <mat-chip color="primary" selected *ngFor="let participant of selectedParticipants;let index=index;" [selectable]="selectable"
              [removable]="removable" (removed)="remove(participant,index)">
      {{participant.participant_name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Ajouter un participant" #participantInput [formControl]="participantCtrl" [matAutocomplete]="auto"
           [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
      {{participant.participant_name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
