.dialog-title {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--border);
}

.message {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  span {
    &.error {
      color: var(--warn-color);
    }

    &.instruction {
      color: var(--primary-color);
    }
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  span {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
  }

  .fields-row {
    display: flex;
    padding: 10px 20px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &:first-of-type {
      padding-bottom: 10px;
    }

    &:first-of-type > *,
    &:nth-of-type(2) > * {
      width: 48%;
    }
  }

  .session-type {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;

    mat-checkbox {
      padding-bottom: 10px;
    }

    .mat-icon {
      color: #aaa;
      cursor: pointer;
      transition: color ease-in-out 0.3s;

      &:hover {
        color: var(--accent-color)
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    background-color: var(--border);

    &.delete {
      background-color: var(--warn-lighter-color);
    }

    span {
      padding-left: 5px;
      display: initial;
    }

    &:first-of-type {
      justify-self: start;
    }
  }
}

@media screen and (max-width: 850px) {
  form {
    .fields-row {
      flex-direction: column;

      > * {
        width: 100% !important;
        padding-bottom: 10px;
      }

      &:first-of-type {
        padding-bottom: 0;
      }

      &:nth-of-type(2) {
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .buttons {
    button {
      span {
        display: none;
      }

      mat-icon {
        display: initial;
      }
    }
  }
}

