.dialog-title {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--border);
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  span.row-title {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
  }

  .period {
    margin: 0 20px 20px;
    padding: 3px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    mat-icon {
      padding-right: 3px;
    }

    &.free {
      color: var(--accent-color);
      background-color: var(--accent-lighter-color);
    }

    &.overlap {
      color: var(--warn-color);
      background-color: var(--warn-lighter-color);
    }

    &.room {
      color: var(--primary-color);
      background-color: var(--primary-lighter-color);
    }

  }

  .fields-row {
    display: flex;
    padding: 10px 20px 20px;
    justify-content: space-between;
    align-items: center;

    &:first-of-type,
    &:nth-last-of-type(2) {
      padding-bottom: 10px;
    }

    &:nth-of-type(3){
      > * {
        width: calc(100% / 3);

        &:first-of-type {
          margin-right: 2px;
        }

        &:nth-of-type(2) {
          margin: 0 1px;
        }

        &:last-of-type {
          margin-left: 2px;
        }
      }
    }

    .half-width {
      width: 48%;
    }

    .full-width {
      width: 100%;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    background-color: var(--border);

    &.delete {
      background-color: var(--warn-lighter-color);
    }

    span {
      padding-left: 5px;
      display: initial;
    }

    &:first-of-type {
      justify-self: start;
    }
  }
}

@media screen and (max-width: 850px) {
  form {
    .fields-row {
      flex-direction: column;

      > * {
        width: 100% !important;
        padding-bottom: 10px;
      }

      &:first-of-type,
      &:nth-last-of-type(2) {
        padding-bottom: 0;
      }

      &:nth-of-type(2),
      &:last-of-type {
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .buttons {
    button {
      span {
        display: none;
      }

      mat-icon {
        display: initial;
      }
    }
  }
}

