<h1 mat-dialog-title>{{title}}</h1>

<div class="message">
  <span class="instruction" *ngIf="siteIsNotSelected()">Sélectionner un site pour la réservation.</span>
  <span class="instruction" *ngIf="roomIsNotSelected() && !siteIsNotSelected()">Sélectionner un local pour la
    réservation.
  </span>
  <span class="instruction" *ngIf="hasSession && hasNoParticipant()">Indiquer le ou les participants pour la
    séance
    de téléréadaptation.
  </span>
  <span class="error" *ngIf="startTimeAfterEndTime()">L'heure de début doit être avant l'heure de fin.</span>
</div>

<div mat-dialog-content>

  <form [formGroup]="reservationForm">

    <span class="row-title">Informations</span>
    <div class="fields-row">
      <mat-form-field appearance="outline">
        <mat-label>Réservation faite par</mat-label>
        <input matInput formControlName="user">
      </mat-form-field>
      <mat-form-field appearance="outline" (change)="reservationNameChange()">
        <mat-label>Nom de la réservation</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div class="fields-row">
      <app-site-selection (selectedSiteChange)=" selectedSiteChange($event)"></app-site-selection>
      <app-room-selection [idSite]="selectedSite.id_site"
                          (selectedRoomChange)="selectedRoomChange($event)"></app-room-selection>
    </div>

    <span class="row-title">Date et heures</span>
    <div class="fields-row">
      <mat-form-field appearance="outline">
        <mat-label>
          Date
        </mat-label>
        <input matInput [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate" formControlName="startDate"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Début
        </mat-label>
        <input matInput [owlDateTimeTrigger]="start" [owlDateTime]="start" formControlName="startTime"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'timer'" #start></owl-date-time>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Fin
        </mat-label>
        <input matInput [owlDateTimeTrigger]="end" [owlDateTime]="end" formControlName="endTime"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'timer'" #end></owl-date-time>
      </mat-form-field>
    </div>

    <span class="row-title">Type de séance</span>
    <div class="session-type">
      <mat-checkbox formControlName="hasSession" (change)="changeSession($event)">
        Séance de téléréadaptation
      </mat-checkbox>

      <div *ngIf="hasSession" class="session">
        <app-participant-selection [idSite]="selectedSite.id_site"
                                   (selectedParticipantChange)="selectedParticipantChange($event)"></app-participant-selection>
        <mat-list>
          <div mat-subheader>Participants</div>
          <mat-list-item *ngFor="let participant of selectedParticipants">
            <mat-icon mat-list-icon (click)="deleteParticipant(participant.id_participant)">delete
            </mat-icon>
            <div mat-line>{{participant.participant_name}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </form>

</div>
<div class="buttons" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    Annuler
  </button>
  <button mat-button [disabled]=!this.idReservation (click)="delete()">
    <span>Supprimer</span>
    <mat-icon mat-list-icon>delete
    </mat-icon>
  </button>
  <button mat-button [disabled]=!isSaveButtonEnabled (click)="validate()">
    <span>Sauvegarder</span>
    <mat-icon mat-list-icon>save
    </mat-icon>
  </button>
</div>
