.message {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  span {
    &.error {
      color: var(--warn-color);
    }

    &.instruction {
      color: var(--primary-color);
    }
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  span {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
  }

  .fields-row {
    display: flex;
    padding: 10px 20px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .session-type {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;

    mat-checkbox {
      padding-bottom: 10px;
    }

    .mat-icon {
      color: #aaa;
      cursor: pointer;
      transition: color ease-in-out 0.3s;

      &:hover {
        color: var(--accent-color)
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  button {
    span {
      display: initial;
    }

    mat-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  form {
    .fields-row {
      flex-direction: column;

      mat-form-field, app-site-selection, app-room-selection {
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .buttons {
    button {
      span {
        display: none;
      }

      mat-icon {
        display: initial;
      }
    }
  }
}

