<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>

  <form [formGroup]="reservationForm">
    <div class="column">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput formControlName="user">
      </mat-form-field>

      <app-site-selection (selectedSiteChange)=" selectedSiteChange($event)"></app-site-selection>
      <app-room-selection [idSite]="selectedSite.id_site"
                          (selectedRoomChange)="selectedRoomChange($event)"></app-room-selection>
      <app-participant-selection [idSite]="selectedSite.id_site"
                                 (selectedParticipantChange)="selectedParticipantChange($event)"></app-participant-selection>


      <mat-form-field>
        <mat-label>
          Date
        </mat-label>
        <input matInput [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate" formControlName="startDate"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Start
        </mat-label>
        <input matInput [owlDateTimeTrigger]="start" [owlDateTime]="start" formControlName="startTime"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'timer'" #start></owl-date-time>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          End
        </mat-label>
        <input matInput [owlDateTimeTrigger]="end" [owlDateTime]="end" formControlName="endTime"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'timer'" #end></owl-date-time>
      </mat-form-field>

    </div>

    <div class="column">
      <mat-checkbox formControlName="hasSession" (change)="changeSession($event)">
        Séance de téléréadaptation
      </mat-checkbox>
      <div *ngIf="hasSession" class="session">
        Session part of form
      </div>


    </div>
  </form>

</div>
<div class="buttons" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="delete()">Delete</button>
  <button mat-button [disabled]="!isEnabled" (click)="validate()">Save</button>
</div>
