<h1 mat-dialog-title class="dialog-title">{{title}}</h1>

<div class="message">
  <span class="instruction" *ngIf="siteIsNotSelected()">Sélectionner un site pour la réservation.</span>
  <span class="instruction" *ngIf="roomIsNotSelected() && !siteIsNotSelected()">Sélectionner un local pour la
    réservation.
  </span>
</div>

<div mat-dialog-content>
  <form [formGroup]="reservationForm">

    <span class="row-title">Informations</span>
    <div class="fields-row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Réservation faite par</mat-label>
        <input matInput formControlName="user">
      </mat-form-field>
      <mat-form-field appearance="outline" (change)="reservationNameChange()" class="half-width">
        <mat-label>Nom de la réservation</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div class="fields-row">
      <app-site-selection class="half-width" (selectedSiteChange)=" selectedSiteChange($event)"></app-site-selection>
      <app-room-selection [idSite]="selectedSite.id_site" class="half-width"
                          (selectedRoomChange)="selectedRoomChange($event)"></app-room-selection>
    </div>

    <span class="row-title">Date et heures</span>
    <div class="fields-row">
      <mat-form-field appearance="outline">
        <mat-label>
          Date
        </mat-label>
        <input matInput [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate" formControlName="startDate"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Début
        </mat-label>
        <input matInput [owlDateTimeTrigger]="start" [owlDateTime]="start" formControlName="startTime"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'timer'" [stepMinute]="15" #start></owl-date-time>
        <mat-error *ngIf="startTimeAfterEndTime()">L'heure de début doit être avant l'heure de fin.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          Fin
        </mat-label>
        <input matInput [owlDateTimeTrigger]="end" [owlDateTime]="end" formControlName="endTime"
               (dateTimeChange)="change($event)">
        <owl-date-time [pickerType]="'timer'" stepMinute="15" #end></owl-date-time>
      </mat-form-field>
    </div>

    <span class="row-title">Type de séance</span>
    <div class="message">
      <span class="instruction">Indiquer le projet auquel la séance est associée pour ajouter un type de séance et un ou des participants.</span>
    </div>
    <div class="fields-row">
      <app-project-selection [idSite]="selectedSite.id_site" [idReservationProject]="idReservationProject"
                             class="half-width"
                             (selectedProjectChange)="selectedProjectIdChange($event)"></app-project-selection>
      <app-session-type-selection [idProject]="selectedProjectId" [idSessionType]="session?.id_session_type"
                                  class="half-width" *ngIf="selectedProjectId"
                                  (selectedSessionTypeChange)="selectedSessionTypeChange($event)"></app-session-type-selection>
    </div>
    <div class="fields-row">
      <app-participant-selection [idProject]="selectedProjectId" *ngIf="selectedProjectId"
                                 [reservationParticipants]="session?.session_participants" class="full-width"
                                 (selectedParticipantsChange)="selectedParticipantsChange($event)"></app-participant-selection>
    </div>
  </form>
</div>

<div class="buttons" mat-dialog-actions>
  <button class="delete" mat-button [disabled]=!this.idReservation (click)="delete()">
    <mat-icon mat-list-icon>delete</mat-icon>
    <span>Supprimer</span>
  </button>
  <div>
    <button mat-button [disabled]=!isSaveButtonEnabled (click)="validate()">
      <mat-icon mat-list-icon>save</mat-icon>
      <span>Sauvegarder</span>
    </button>
    <button mat-button (click)="onNoClick()">
      <mat-icon mat-list-icon>close</mat-icon>
      <span>Annuler</span>
    </button>
  </div>
</div>
