.page-container {
  height: 100%;
  background-color: var(--background);
  padding-bottom: var(--app-content-padding);
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height) - var(--app-content-padding));

  .rooms {
    padding: 0 var(--app-content-padding);

    table {
      width: 100%;

      .mat-sort-header {
        background-color: var(--accent-lighter-color);
        color: var(--text);
        font-size: 14px;
        font-family: "Nunito", sans-serif;
        font-weight: bolder;
      }
    }

    tr {
      cursor: pointer;
      transition: background-color ease-in-out 0.5s;

      &:hover {
        background-color: #efefef;
      }
    }
  }

  .controls {
    text-align: right;
    max-width: 70px;
  }

  .mat-table {
    .mat-icon {
      cursor: pointer;
      color: var(--accent-lighter-color);
      transition: color ease-in-out 0.3s;
    }

    .mat-icon:first-of-type {
      margin-right: 10px;
    }

    .mat-icon:hover {
      color: var(--accent-color);
    }
  }

  .table-controls {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--background);
    padding: var(--app-content-padding) var(--app-content-padding) calc(var(--app-content-padding) / 2);

    .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding-bottom: calc(var(--app-content-padding) / 4);

      &:first-of-type {
        button {
          width: 100px;
          height: 40px;
        }

        app-site-selection {
          width: calc(100% - 120px);
        }
      }

      mat-form-field {
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .table-controls {
    flex-direction: column-reverse;

    app-site-selection {
      width: 100%;
      margin-right: 0;
    }

    button {
      width: 100%;
      margin: 10px 0 20px 0;
    }
  }
}
