table {
  width: 100%;
}

tr {
  cursor: pointer;
  transition: background-color ease-in-out 0.5s;
}

tr:hover {
  background-color: #efefef;
}

.controls {
  text-align: right;
  max-width: 70px;
}

.mat-table .mat-icon {
  cursor: pointer;
}

.mat-table .mat-icon:first-of-type {
  margin-right: 10px;
}

.mat-table .mat-icon:hover {
  color: var(--primary-color);
}
