<h3>
  Edit events
  <button mat-flat-button color="primary" (click)="addEvent()">
    Add new
  </button>
</h3>

<div class="calendar-controls">
  <div class="buttons-wrapper">
    <button
      mat-stroked-button
      color="primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay($event)"
    >
      Previous
    </button>
    <button
      mat-stroked-button
      mwlCalendarToday
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay($event)"
    >
      Today
    </button>
    <button
      mat-stroked-button
      color="primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay($event)"
    >
      Next
    </button>
  </div>
  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  <div class="buttons-wrapper">
    <button
      mat-flat-button
      color="primary"
      (click)="setView(calendarView.Month)"
      [class.active]="view === calendarView.Month"
    >
      Month
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="setView(calendarView.Week)"
      [class.active]="view === calendarView.Week"
    >
      Week
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="setView(calendarView.Day)"
      [class.active]="view === calendarView.Day"
    >
      Day
    </button>
  </div>
</div>
<br/>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="calendarView.Month"
    [viewDate]="viewDate"
    [events]="calendarData"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="calendarView.Week"
    [viewDate]="viewDate"
    [events]="calendarData"
    [dayStartHour]="7"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="calendarView.Day"
    [viewDate]="viewDate"
    [events]="calendarData"
    [refresh]="refresh"
    [dayStartHour]="7"
    draggable="false"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
