<div class="reservation-button">
  <button mat-flat-button color="primary" (click)="openReservationFormDialog(null)">
    Réserver
  </button>
</div>

<div class="calendar-controls">
  <div class="buttons-wrapper">
    <button
      mat-stroked-button
      color="primary"
      [ngClass]="{'selected-view': view === 'month'}"
      (click)="setView(calendarView.Month)"
      [class.active]="view === calendarView.Month"
    >
      Mois
    </button>
    <button
      mat-stroked-button
      color="primary"
      [ngClass]="{'selected-view': view === 'week'}"
      (click)="setView(calendarView.Week)"
      [class.active]="view === calendarView.Week"
    >
      Semaine
    </button>
    <button
      mat-stroked-button
      color="primary"
      [ngClass]="{'selected-view': view === 'day'}"
      (click)="setView(calendarView.Day)"
      [class.active]="view === calendarView.Day"
    >
      Jour
    </button>
  </div>
  <h3 class="month large-screen">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
  <div class="buttons-wrapper">
    <button
      mat-stroked-button
      color="primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay($event)"
    >
      <mat-icon fontSet="material-icons" [title]="'Précédent'">
        keyboard_arrow_left
      </mat-icon>
      <span>Précédent</span>
    </button>
    <button
      mat-stroked-button
      color="primary"
      mwlCalendarToday
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay($event)"
    >
      Aujourd'hui
    </button>
    <button
      mat-stroked-button
      color="primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay($event)"
    >
      <span>Suivant</span>
      <mat-icon fontSet="material-icons" [title]="'Suivant'">
        keyboard_arrow_right
      </mat-icon>
    </button>
  </div>
</div>

<h3 class="month small-screen">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="calendarView.Month"
    [viewDate]="viewDate"
    [events]="calendarData"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    [cellTemplate]="customMonthCellTemplate"
    [openDayEventsTemplate]="customDayEventsTemplate"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="openReservationFormDialog($event.event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="calendarView.Week"
    [viewDate]="viewDate"
    [events]="calendarData"
    [dayStartHour]="7"
    [dayEndHour]="21"
    [refresh]="refresh"
    (eventClicked)="openReservationFormDialog($event.event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="calendarView.Day"
    [viewDate]="viewDate"
    [events]="calendarData"
    [refresh]="refresh"
    [dayStartHour]="7"
    draggable="false"
    (eventClicked)="openReservationFormDialog($event.event)"
  >
  </mwl-calendar-day-view>
</div>

<ng-template #customMonthCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <ng-container *ngFor="let event of day.events">
    <small class="month-event">
      <span>{{event.start | date: 'h:mm a'}}</span> : {{ event.title }}</small>
  </ng-container>
</ng-template>

<ng-template
  #customDayEventsTemplate let-events="events" let-eventClicked="eventClicked" let-isOpen="isOpen">
  <div class="cal-open-day-events" [@collapse] *ngIf="isOpen">
    <div *ngFor="let event of events">
      <div class="event" (click)="openReservationFormDialog(event)">{{event.start | date: 'h:mm a'}}
        - {{event.end | date: 'h:mm a'}}: {{ event.title }}</div>
    </div>
  </div>
</ng-template>
