<div class="refreshing">
  <mat-progress-spinner
    *ngIf="refreshing == true"
    [mode]="'indeterminate'"
    [value]="50"
    [diameter]="30"
    [color]="'primary'">
  </mat-progress-spinner>
</div>

<mat-form-field appearance="outline" *ngIf="refreshing == false">
  <mat-label>Local</mat-label>
  <mat-select (selectionChange)="onValueChanged($event)" [value]="selectedOption">
    <mat-option *ngFor="let room of rooms" [value]="room">
      {{room.room_name}}
    </mat-option>
  </mat-select>
</mat-form-field>
