.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: var(--primary-color);

  .text {
    text-align-last: justify;

    span {
      display: block;
    }

    .first-line {
      text-transform: uppercase;
      font-size: 40px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      line-height: 40px;
    }

    .second-line {
      font-size: 20px;
      line-height: 18px;
      font-family: 'Montserrat', sans-serif;
    }
  }
}
