/* Components style from libraries */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import "theme";

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  position: relative;
}

body {
  background-color: #ffffff;
  --text: #41424a;
  --field-background: #f1f1f9;
  --background: #f8f7fc;
  --border: #eceef4;
  --light-text: #787e8a;
  --header-height: 80px;
  --app-content-padding: 40px;
}

/****** FORM FIELDS ******/
.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-outline {

  &.mat-focused {
    .mat-form-field-outline-thick {
      color: var(--accent-color);
    }
  }

  .mat-form-field-outline {
    color: var(--accent-lighter-color);

    &:hover {
      color: var(--accent-color);
    }
  }

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    background-color: var(--field-background);
  }
}

.mat-select-panel {
  .mat-option.mat-selected:not(.mat-option-multiple) {
    background: var(--accent-lighter-color);
    color: var(--text);
  }
}

.mat-form-field {
  .mat-form-field-label {
    color: var(--text);
  }

  &.mat-focused {
    .mat-form-field-label {
      color: var(--text);
      transform: translateY(-1.59375em) scale(0.75);
    }
  }
}

mat-error {
  padding-bottom: 3px;
  margin-top: 15px;
}

@media screen and (min-width: 850px) {
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    width: 400px;
  }
}

/****** CALENDAR ******/

.cal-month-view {
  .cal-cell-top {
    min-height: 30px;
  }

  .cal-day-number {
    opacity: 0.7;
    color: var(--text);
  }

  .cal-open-day-events {
    color: initial;
    box-shadow: none;
    background-color: var(--field-background);
  }

  .cal-day-badge {
    background-color: var(--accent-color);
  }

  .cal-cell-row {
    &:hover {
      background-color: transparent;
    }
  }

  .cal-day-cell {
    &.cal-weekend {
      .cal-day-number {
        color: var(--light-text);
      }
    }

    &.cal-today {
      color: var(--accent-color);
      background-color: var(--field-background);
      box-shadow: 4px 0 0 var(--accent-lighter-color) inset;

      .cal-day-number {
        font-size: 1.2em;
        opacity: 1;
      }
    }
  }
}

.cal-header {
  text-transform: capitalize !important;
}

.cal-week-view {
  border-top: none;

  .cal-current-time-marker {
    background-color: var(--accent-color);
  }

  .cal-header.cal-weekend {
    span {
      color: var(--light-text);
    }
  }

  .cal-hour-segment {
    cursor: pointer;
  }

  .cal-time {
    color: var(--light-text);
    font-weight: normal;
    text-transform: lowercase;
  }

  .cal-day-headers {
    border-left: none;
    border-bottom: 2px solid var(--accent-lighter-color);

    .cal-header {
      &:not(:last-child) {
        border: none;
      }

      &:hover {
        color: var(--accent-color);
        background-color: var(--field-background);
      }
    }

    .cal-drag-over {
      background-color: var(--primary-lighter-color);
      color: var(--accent-color);
    }

    span {
      opacity: 1;
    }
  }

  .cal-header.cal-today {
    background-color: var(--primary-lighter-color);
    color: var(--accent-color);
  }

  .cal-ends-within-day {
    .cal-event {
      color: var(--accent-color);
    }
  }
}

.cal-week-view .cal-day-headers .cal-header, .cal-month-view .cal-header .cal-cell {
  background-color: transparent;
  color: var(--text);
  padding: var(--app-content-padding) 0 calc(var(--app-content-padding) / 2);
}


@media screen and (max-width: 650px) {
  .cal-week-view .cal-day-headers .cal-header, .cal-month-view .cal-header .cal-cell {
    font-size: 0;

    &::first-letter {
      font-size: initial;
    }
  }
}

/****** BUTTONS ******/

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
  color: var(--text);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary, .mat-flat-button.mat-primary {
  background-color: var(--accent-color);
  color: #fff;
}

button {
  letter-spacing: 1px;

  &:active,
  &.selected-view {
    border-color: transparent !important;
    background-color: var(--field-background);
    font-weight: 700;
  }

  &:hover {
    border-color: transparent !important;
    background-color: var(--accent-lighter-color);
  }
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.owl-dt-control .owl-dt-control-content {
  color: var(--accent-color);
}
