/* Components style from libraries */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
@import "theme";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body, app-root, app-app-layout, app-login-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  --field-background: #f1f5f9;
  --border: #bbc5ce;
  --light-text: #787e8a;
  --header-height: 70px;
}

/****** FORM FIELDS ******/
.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    color: var(--field-background);

    &:hover {
      color: var(--primary-color);
    }
  }

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    background-color: var(--field-background);
  }

}

/****** CALENDAR ******/
.cal-month-view .cal-open-day-events {
  color: initial;
  background-color: var(--primary-lighter-color);
  box-shadow: none;
}

.cal-month-view .cal-day-badge {
  background-color: var(--accent-color);
}

.cal-header {
  text-transform: capitalize !important;
}

.cal-week-view .cal-current-time-marker {
  background-color: var(--accent-color);
}

.cal-week-view .cal-header.cal-weekend span {
  color: var(--light-text);
}

.cal-week-view {
  border-top: none;
  color: var(--primary-color);
}

.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
  border-color: var(--primary-color);
}

.cal-week-view .cal-day-headers {
  border-left: none;
  color: #fff;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.cal-week-view .cal-header.cal-today, .cal-month-view .cal-day-cell.cal-today {
  background-color: var(--primary-lighter-color);
  color: var(--primary-color);
}

.cal-week-view .cal-day-headers .cal-header, .cal-month-view .cal-cell-row .cal-cell {
  transition: ease-in-out background-color 0.5s, ease-in-out color 0.5s;
}

.cal-week-view .cal-day-headers .cal-header:hover, .cal-week-view .cal-day-headers .cal-drag-over,
.cal-month-view .cal-cell-row .cal-cell:hover {
  background-color: var(--primary-lighter-color);
  color: var(--primary-color);
}

.cal-week-view .cal-day-headers span {
  opacity: 1;
}

.cal-month-view .cal-header {
  background-color: var(--primary-color);
  color: #fff;
}
.cal-month-view .cal-cell-row:hover {
  background-color: var(--field-background);
}

.cal-month-view .cal-header:hover {
  background-color: var(--primary-color);
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: var(--light-text);
}
.cal-month-view .cal-header .cal-cell {
  padding: 10px 0;
}

.cal-week-view .cal-ends-within-day .cal-event {
  color: var(--primary-color);
}

/****** BUTTONS ******/
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  transition: background-color ease-in-out 0.5s;

  &:hover {
    background-color: var(--accent-color);
  }
}

.mat-drawer-backdrop {
  position: fixed !important;
}
