<mat-form-field appearance="outline" *ngIf="!refreshing">
  <mat-label>Réservation pour</mat-label>
  <mat-select (selectionChange)="onValueChanged($event)" [value]="selectedOption">
    <mat-option *ngFor="let user of users" [value]="user">
      {{user.user_firstname}} {{user.user_lastname}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="refreshing">
  <mat-progress-spinner
    *ngIf="refreshing"
    [mode]="'indeterminate'"
    [value]="50"
    [diameter]="30"
    [color]="'primary'">
  </mat-progress-spinner>
</div>
